*{
	box-sizing: border-box;
		margin: 0;
}

.container{
	width: 800px;
	margin: 0 auto;
}

.one{
	background: url(../img/bg.jpg) no-repeat center;
	height: 590px;
	text-align: center;
	
}
.button_heder{
	padding: 30px;
	}

.one .price-btn .{
	background-color: #50c3af;
	border:#9fa4af 1px solid;
	color:#f5f5f5;
	font-size: 14px;
	padding: 10px 20px;
	margin: 35px auto;
	border-radius: 100px;
	transition: 0.3s;
}
.price-btn-heder{
	background-color: #50c3af;
	border: 0px;
	color:#f5f5f5;
	font-size: 14px;
	
	height: 50px;
	width: 235px;
	border-radius: 100px;
	transition: 0.3s;
}
.button_heder{
	padding-top: 83px;
}
.btn-primary{
	border-radius: 20px;
	background-color: grey;
	width: 200px;
    height: 40px;
    font-size: 20px;
	border:none;
}
.two{
	display: flex;
	justify-content: center;
	background-color:#eeeeef;
  	text-align: center;
   	height: 290px;

}
.two h2{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	padding:30px 65px 20px 65px;
}
.two h3{
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	padding:15px 22px 70px 22px;
	color:#787b80;
	margin: 0;
	line-height: 24px;
}
.two img{
	
	padding:60px 80px 0 80px;
}
.two .line{
	width: 130px;
	display: block;
	height: 2px;
	background-color: #e9e9ea;
	margin: 0 auto;
}

.m-menu{
	display: flex;
	justify-content: center;
	list-style: none;

	}
.m-menu a{
	color:#fff;
	text-decoration: none;
}	
.logo{
	padding-top: 67px;
}


.m-menu li{
	font-family: 'Ubuntu', sans-serif;
	padding: 45px 35px 0 30px;
	margin: 0;
	font-size: 13px;

}
h1{
	padding-top: 40px;
	color:#fff;
	font-size: 53px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	margin: 0
}
.main-text p::after{
	content: '';
	width: 100px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
}
.main-text p::before{
	content: '';
	width: 100px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
  .main-text p{
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	margin: 0;
	font-size: 15px;
	padding: 45px 30px 0 30px;
}

.three{
	display: flex;
	justify-content: space-between;
  	max-width: 600px;
  	margin: 65px auto;

}
.three .price-btn{
	background-color: #50c3af;
	border: 0px;
	color:#f5f5f5;
	font-size: 14px;
	padding: 10px 20px;
	margin: 35px auto;
	border-radius: 100px;
	transition: 0.3s;
}
  .three h4{
    font-family: 'PT Sans', sans-serif;
    font-size:18px ;
    text-transform: uppercase;
	color: #384048;
	margin-top: 45px;
	}
	.three .line{
   	margin-top: 20px;
	}
 .three p{
 	font-family: 'PT Sans', sans-serif;
	line-height: 24px;
	max-width: 264px;
	color: #787b80;
	margin: 32px 0 0 0;
	font-size: 14px;
	
}

.three .price-btn{
	margin-top:35px;
}

  .four{
  	margin-top: 50px;	
  	background-color: #eeeeef;
  	height: 330PX;
  }
    .four .four_img{
  	margin: 65px 15px 0 100px;
  }
    .four h2{
  	font-family: 'PT Sans', sans-serif;
    font-size:18px ;
    font-weight: bold;
    text-transform: uppercase;
  }
.four .line_four{

	width: 585px;
	height: 2px;
	background-color: #e9e9ea;
	margin: 20px 0 0 100px;
}
.four p{
	font-family: 'PT Sans', sans-serif;
    font-size:14px;
    color:#787b80;
	margin: 30px 105px 0 100px;
	line-height: 24px;
}

.price-btn_four{
	background-color: #d2d5da;
	color:#f5f5f5;
	font-size: 14px;
	padding: 10px 20px;
	margin: 40px 0 0 100px;
	border-radius: 100px;
	border: 0px;
	transition: 0.3s;
}


.five{
	display: flex;
  	max-width: 600px;
  	margin: 0 auto;
}
.five img{
	margin-top: 60px;
	
}
.five h4{
	font-family: 'PT Sans', sans-serif;
    font-size:16px ;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:40px;
}
.five .line{
	margin-top: 20px;
	width: 180px;
}
.five p{
	font-family: 'PT Sans', sans-serif;
    font-size:14px ;
    color: #999c9f;
    margin-top:30px;
    margin-bottom:30px;
    line-height: 24px;
}
.five a{
	color: #50c3af;
	font-family: 'PT Sans', sans-serif;
    font-size:14px ;
}
.six{
	max-width: 800px;
	background-color: #eeeeef;
	margin-top: 70px;
}
.six_div{
	display: flex;
	justify-content: space-between;
	max-width: 600px;
  	margin: 0 auto; 
  	
}
  .six .six_img{
  	margin: 60px 15px 0 0;
  }
.six h2{
  	font-family: 'PT Sans', sans-serif;
    font-size:18px ;
    font-weight: bold;
    text-transform: uppercase;

  }
  .six .line{
	margin-top: 25px;
	width: 255px;
}
.six p{
	max-width: 255px;
	margin-top:30px;
	font-family: 'PT Sans', sans-serif;
    font-size:14px ;
    color: #999c9f;
	line-height: 24px;
}
 .six .six_price-btn{
	background-color: #50c3af;
	border:#9fa4af 1px solid;
	color:#f5f5f5;
	font-size: 14px;
	padding: 10px 20px;
	margin: 35px auto;
	border-radius: 100px;
	transition: 0.3s;
}
.seven{
	display: flex;
	justify-content: center;
	max-width: 600px;
  	margin: 0 auto;
  	margin-top: 60px;
}

.text h2{
	font-family: 'PT Sans', sans-serif;
    font-size:18px ;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 35px;
}
.text p{
	font-family: 'PT Sans', sans-serif;
    font-size:14px ;
    padding:30px 0 0 35px;
    color: #999c9f;
	line-height: 24px;
}
.seven_btn-primary{
	background-color: #d2d5da;
	color:#f5f5f5;
	font-size: 14px;
	padding: 10px 20px;
	margin:35px 0 0 24px;
	border-radius: 100px;
	border: 0px;
	transition: 0.3s;
}

.eight{
	background-color: #50c3af;
	text-align: center;
	margin-top: 60px;
	width: 800px;
	height: 220px;
	
}
.eight .img_eight{
	padding:0 10px 0 0;

}
.eight h4{
	padding-top: 53px;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
    font-size:15px ;
    font-weight: bold;
    text-transform: uppercase;
}
.eight .line{
	width: 255px;
	margin: 25px 0 0 277px;
}
.eight_logo{
	display: flex;
	justify-content: space-around;
	margin:40px 0 0 105px;
	max-width: 600px;
}

.nine{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nine p{
	margin: 25px 0 25px 80px;
	font-family: 'PT Sans', sans-serif;
    font-size:13px ;
    color: #aaacaf;
}


.copy{
	margin-left: 50px;
}
.social-links a{
	list-style: none;
	color:grey;
	padding: 10px;
}

.social-links:nth-child(2){
	margin-right: 105px;
}
.line{
	
	
	height: 2px;
	background-color: #e9e9ea;
	
}
 button:hover {text-shadow: -4px 4px 0px black;
      transition: 0.3s;
      top: 4px;
      right: 4px;
      font-weight: bold;
      opacity: 0.8;
      cursor: pointer;
        }


